<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gonzalo.botones">

    <application
        android:allowBackup="true"
        android:icon="@drawable/diamante"
        android:label="@string/app_name"
        android:roundIcon="@drawable/diamante"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".DadosActivity"></activity>
        <activity android:name=".ConcursoActivity" />
        <activity android:name=".AleatorioActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>